body {
    overflow: hidden;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

#grid-container {
    height:500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    display: flex;
    flex: 1;
    border: 1px solid black;
}

#color-sliders {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.color-slider-container {
    display: flex;
}

#rgb-container {
    display: flex;
    gap: 30px;
    flex-direction: row;
}

#current-rgb-color {
    border: 5px solid black;
    padding: 100px;
}