body {
    background-color: #FFCCBB;
    overflow: hidden;
}

.flex {
    display: flex;
}

.justify-align-center {
    justify-content: center;
    align-items: center;
}

.height-width-500px {
    height: 500px;
    width: 500px;
}

.box-shadow {
    box-shadow: 5px 5px 5px #6EB5C0;
}

.border-5px {
    border: 5px solid #006C84;
}

.border-2px {
    border: 2px solid #006C84;
}

#content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    gap: 25px;
} 

#grid-container {
    background-color: #ffffff;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    display: flex;
    flex: 1;
}

#options-container {
    flex-direction: column;
    background-color: #E2E8E4;
}

#color-sliders {
    flex-direction: column;
    align-items: end;
}

.color-slider-container {
    align-items: center;
    width: 100px;
    height: 100px;
}

#rgb-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}

#current-rgb-color {
    background-color: black;
    height: 200px;
    width: 200px;
    border: 2px solid #006C84;
}

#btn-container {
    gap: 20px;
}

button {
    background-color: #E2E8E4;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}